@{
    ViewData["Title"] = "Hub Admin Settings";
}

<div class="row justify-content-center">
    <div class="col">
        <div class="card">
            <div class="card-header bg-transparent">
                <h3 class="mb-0">Hub Settings</h3>
            </div>
            <div class="card-body">
                <div class="row icon-examples">
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="active-40" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-active-40"></i>
                                <span>active-40</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="air-baloon" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-air-baloon"></i>
                                <span>air-baloon</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="album-2" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-album-2"></i>
                                <span>album-2</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="align-center" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-align-center"></i>
                                <span>align-center</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="align-left-2" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-align-left-2"></i>
                                <span>align-left-2</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="ambulance" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-ambulance"></i>
                                <span>ambulance</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="app" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-app"></i>
                                <span>app</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="archive-2" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-archive-2"></i>
                                <span>archive-2</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="atom" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-atom"></i>
                                <span>atom</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="badge" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-badge"></i>
                                <span>badge</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="bag-17" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-bag-17"></i>
                                <span>bag-17</span>
                            </div>
                        </button>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <button type="button" class="btn-icon-clipboard" data-clipboard-text="basket" title="Copy to clipboard">
                            <div>
                                <i class="ni ni-basket"></i>
                                <span>basket</span>
                            </div>
                        </button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

@section Breadcrumbs
{
    <div class="col-lg-6 col-7">
        
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="fas fa-home"></i>
                    </a>
                </li>                
                <li class="breadcrumb-item active" aria-current="page">Settings</li>
            </ol>
        </nav>
        <h6 class="h2 text-white d-inline-block mb-0">Settings</h6>
    </div>
}