@{
    ViewData["Title"] = "Structural Patterns";
}
@model StarPeace.Admin.Models.IncomeDetails

<html>
<head>
    <title></title>
</head>
<body>
    <h1>Structural Pattens</h1>
    <div>
         <ul>
            <li>
                <a asp-area="" asp-controller="Structural" asp-action="Index">Adapter</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Structural" asp-action="Index">Bridge</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Structural" asp-action="Index">Composite</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Structural" asp-action="Index">Decorator</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Structural" asp-action="Facade_Search">Facade</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Structural" asp-action="Index">Flyweight</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Structural" asp-action="Index">Proxy</a>
            </li>       

         </ul>
        <div>
</body>
</html>