<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="description" content="A complete admin dashboard for Asp.Net Core, EF Core, Bootstrap and SQL Server">
<meta name="author" content="EdCharlesDiesel">
<title>@ViewData["Title"] | StarPeace Admin Hub - Admin Dashboard</title>
<!-- Favicon -->
<link href="~/img/brand/favicon.png" rel="icon" type="image/png">
<!-- Extra details for Live View on GitHub Pages -->
<!-- Canonical SEO -->
<link rel="canonical" href="https://www.Github.com/EdCharlesDiesel/KhotsoCBookStore.API" />

<partial name="_ExternalScripts" />

<partial name="_ThemeStyles" />

<!-- Social tags -->
<meta name="keywords" content="EdCharlesDiesel, StarPeace, html dashboard, html css dashboard, web dashboard, bootstrap 4 dashboard,  dashboard, asp.net core dashboard, bootstrap 4, asp.net core, css3 dashboard, bootstrap 4 admin, sql server, asp.net core dashboard, backend, frontend, responsive bootstrap 4 dashboard, design patterns, asp.net core design, entity framework core, asp.net core dashboard, bootstrap">
<meta name="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net core 5 framework.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Admin Dashboard Asp.Net Core by Ed Charles Diesel">
<meta itemprop="description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net core 5 framework.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">

<meta itemprop="image" content="#">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@@EdCharlesDiesel">
<meta name="twitter:title" content="Admin Dashboard Asp.Net Core by Ed Charles Diesel">

<meta name="twitter:description" content="Start your development with a Bootstrap 4 Admin Dashboard built for Asp.net framework, the newest go-to technology for top companies.It features a huge number of components that can help you create amazing websites and brings with itself innumerable advantages: lightweight, fast, scalable and modern way to execute your next top app.">
<meta name="twitter:creator" content="@@EdCharlesDiesel">
@* <meta name="twitter:image" content="#"> *@

<partial name="_OpenGraph" />