@using Microsoft.AspNetCore.Identity
@* @inject SignInManager<ApplicationUser> SignInManager *@

<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">

        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                @* <img src="~/img/brand/blue.png" class="navbar-brand-img" alt="..."> *@
                <h2>STARPEACE ADMIN</h2>
                <h2>HUB</h2>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">

                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/">
                                @* <img src="~/img/brand/blue.png"> *@
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="/index">
                            <i class="ni ni-tv-2 text-primary"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/managebooks">
                            <i class="ni ni-books"></i> Manage Books
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manageusers">
                            <i class="ni ni-single-02 text-red"></i> Manage Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manageemployees">
                            <i class="ni ni-single-02 text-yellow"></i> Manage Employees
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">
                            <i class="ni ni-bullet-list-67 text-default"></i> Hub Administration
                        </a>
                    </li>
                                      
                    <li class="nav-item">
                        <a class="nav-link" href="https://localhost:6000">
                            <i class="ni ni-send text-dark"></i>
                            KhotsoCBookStore API
                        </a>
                    </li>
                </ul>

                <!-- Divider -->
                <hr class="my-3">

                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Documentation</span>
                </h6>

                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ni ni-spaceship"></i> Getting started
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ni ni-user-run"></i> How to run this app
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ni ni-ui-04"></i> How to run tests
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">
                            <i class="ni ni-atom"></i>
                            <span class="nav-link-text">Software requied</span>
                        </a>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</nav>
