@model StarPeace.Admin.Entities.Customer

<html>
<head>
    <title>Add a Customer</title>
</head>
<body>
    <h1>Add a Customer</h1>
    <form asp-controller="Home" asp-action="Insert">
        <table border="1" cellpadding="10">
            <tr>
                <td><label asp-for="CustomerID">CustomerID :</label></td>
                <td><input asp-for="CustomerID" /></td>
            </tr>
            <tr>
                <td><label asp-for="CompanyName">Company Name :</label></td>
                <td><input asp-for="CompanyName" /></td>
            </tr>
            <tr>
                <td><label asp-for="ContactName">Contact Name :</label></td>
                <td><input asp-for="ContactName" /></td>
            </tr>
            <tr>
                <td><label asp-for="Country">Country :</label></td>
                <td><input asp-for="Country" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Insert" />
                </td>
            </tr>
        </table>
    </form>
    <div asp-validation-summary="ValidationSummary.All"></div>
</body>
</html>
